.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B3E6FB;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    padding: 12px 20px;
} 

.titleContainer {
        display: flex;
        align-items: center;
    }

.extraTitle {
    color: #fff;
}

    @media(max-width: 768px) {
        .titleContainer {
            font-size: 12px;
        }
    }

.title {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.1;
}
